body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.profile-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-form, .orders-section {
    margin-bottom: 20px;
}

.profile-form h1, .orders-section h2 {
    font-family: 'Bernard MT Condensed', sans-serif;
    color: #CC9900;
    margin-bottom: 20px;
}

.profile-form label {
    display: block;
    color: #CC9900;
    margin-top: 10px;
}

.profile-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
}

.orders-container {
    display: flex;
    flex-direction: column;
}

.order {
    padding: 10px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}
