

.cake-details {
    max-width: 800px;
    margin: 30px auto;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    color: #917C14;
}

.cake-details img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.cake-details h2 {
    margin: 20px 0 10px;
    font-size: 30px;
    color: #917C14;
}

.cake-details p {
    font-size: 18px;
     color: #917C14;
}

.cake-details .price {
    font-size: 20px;
    color: #CC9900;
    margin-top: 10px;

}

.customize {
    max-width: 800px;
    margin: 30px auto;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.customize h2 {
    text-align: center;
    margin-bottom: 20px;
}

.customize form label {
    display: block;
    margin: 10px 0 5px;
}

.customize form select,
.customize form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.customize form button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #BE82B4;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}


.customize form button:hover {
    opacity: 0.9;
    background-color: #DBBDD7;
}
