/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {

    main {
        padding-top: 120px;
    }

    .cake-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .cake-section img {
        max-width: 100%;
        height: auto;
        border: 1px solid #ECE9E2;
    }

    .cake-description {
        text-align: center;
        margin: 20px 0;
    }

    .price {
        font-weight: bold;
        color: #000000;
    }

    .customize {
        text-align: left;
        width: 50%;
        margin: auto;
    }

    .customize h2 {
        font-family: 'Open Sans', sans-serif;
        color: #BE82B4;
    }

    .customize label {
        display: block;
        width: 100%; /* Ensure labels are full width */
        margin-top: 10px;
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }

    .customize select, .customize input[type="number"], .customize input[type="text"] {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        border: 1px solid #ECE9E2;
        font-family: 'Open Sans', sans-serif;
        box-sizing: border-box; /* Ensure the element's total width and height include padding and border */
    }

    .customize button {
        font-family: 'Open Sans', sans-serif;
        margin-top: 15px;
        padding: 10px;
        border: none;
        background-color: #E6E6FA;
        cursor: pointer;
    }

    .customize button:hover {
        background-color: #DBBDD7;
    }
}