main h1 {
    font-family: 'Bernard MT Condensed', sans-serif;
    color: #CC9900;
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.cake-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cake-item img {
    width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 5px;
    object-fit: contain;
}

.cake-item h3 {
    margin: 10px 0;
    color: #333;
    flex-grow: 1;
}

.cake-item p {
    color: #777;
    flex-grow: 1;
}

.cake-item .price {
    font-size: 1.2em;
    color: #CC9900;
    margin: 10px 0;
}

.cake-item button {
    padding: 10px 20px;
    background-color: #DBBDD7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.cake-item button:hover {
    background-color: #BE82B4;
}

