/* Review.css */

.review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.review-container h1 {
    font-family: 'Bernard MT Condensed', sans-serif;
    color: #CC9900;
    font-size: 36px;
    margin-bottom: 20px;
}

.reviews {
    width: 80%;
    margin-bottom: 20px;
}

.review {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.review .review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review .review-header .name {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #CC9900;
}

.review .review-header .rating {
    display: flex;
    font-size: 2em;
}

.review .review-header .rating img {
    width: 30px;
    height: 30px;
}

.review .date {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

.review .message {
    font-family: 'Arial', sans-serif;
    margin-top: 5px;
}

.add-review {
    width: 80%;
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-review h2 {
    font-family: 'Bernard MT Condensed', sans-serif;
    color: #CC9900;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-family: 'Arial', sans-serif;
    color: #CC9900;
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: calc(100% - 20px);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    margin-left: 10px;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label {
    color: #CC9900;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #CC9900;
}

button[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #DBBDD7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    box-sizing: border-box;
    margin-left: 10px;
}

button[type="submit"]:hover {
    background-color: #BE82B4;
}
