{% extends 'shared.html' %}
{% set page_head_title = 'Cake Design' %}
{% block page_head_css %}
<link rel="stylesheet" href="{{ url_for('cakeDesign.static', filename='css/cakeDesign.css') }}">
{% endblock %}
{% block page_body_main_content %}
<main>
    <div id="cake-details" class="cake-details"></div>
    <div class="customize">
        <h2>Customize your cake</h2>
        <form>
            <label for="cake-base">Cake Base</label>
            <select id="cake-base">
                <option>Vanilla</option>
                <option>Chocolate</option>
                <option>Lemon</option>
                <option>Coconut</option>
                <option>Pistachio</option>
                <option>Caramel</option>
                <option>Red velvet</option>
                <option>Strawberry</option>
                <option>Coffee</option>
                <option>Carrot</option>
            </select>
            <label for="cream">Cream</label>
            <select id="cream">
                <option>Buttercream</option>
                <option>Strawberry</option>
                <option>Ganache</option>
                <option>Cream cheese</option>
                <option>Lemon</option>
                <option>Raspberry</option>
                <option>Chocolate</option>
            </select>
            <label for="dietary-preference">Dietary Preference</label>
            <select id="dietary-preference">
                <option>Dairy</option>
                <option>Vegan</option>
                <option>Dairy Free</option>
            </select>
            <label for="inscription">Inscription</label>
            <input type="text" id="inscription">
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" min="1">
<!--            <button type="button" onclick="buyNow()">Buy it now</button>-->
<!--            <button type="button" onclick="addToCart()">Add to Shopping Cart</button>-->
            <button type="button" id="buy-now-button">Buy it now</button>
            <button type="button" id="add-to-cart-button">Add to Shopping Cart</button>

        </form>
    </div>
</main>
{% endblock %}
{% block page_body_js %}
<script>
    const buyNowUrl = "{{ url_for('checkout.checkout_page') }}";
</script>
<script src="{{ url_for('cakeDesign.static', filename='js/cakeDesign.js') }}"></script>
{% endblock %}
