{% extends 'shared.html' %}
{% set page_head_title = 'Shopping Cart' %}
{% block page_head_css %}
<link rel="stylesheet" href="{{ url_for('cart.static', filename='css/cart.css') }}">
{% endblock %}
{% block page_body_main_content %}
<main>
    <div class="cart-section">
        <h1>Shopping Cart</h1>
        <div id="cart-items" class="cart-items">
        </div>
        <div id="totalPrice"></div>
        <button id="checkout-button">Checkout</button>
    </div>
</main>
{% endblock %}
{% block page_body_js %}
<script src="{{ url_for('cart.static', filename='js/cart.js') }}"></script>
{% endblock %}
