<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="../../shared/static/css/shared.css">
    <link rel="stylesheet" href="Cart.css">
</head>
<body>
    <div id="shared-content"></div>
    <script>
        fetch('shared.html')
            .then(response => response.text())
            .then(html => {
                document.getElementById('shared-content').innerHTML = html;
            });
    </script>

    <main>
        <div class="cart-section">
            <h1>Shopping Cart</h1>
            <div id="cart-items" class="cart-items">
            </div>
            <div id="totalPrice"></div>
            <button id="checkout-button" >Checkout</button>
        </div>
    </main>
    <script src="../../shared/static/js/shared.js"></script>
    <script src="../static/js/cart.js"></script>
</body>
</html>
