body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F8F9FA;
    margin: 0;
    padding: 0;
    color: #CC9900;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


nav {
    background-color: #E6E6FA;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    width: 100%;
    margin-top: -20px;
}

.login-container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px 10px 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.login-container img.logo {
    margin: 0 auto;
    width: 100px;
    padding-top: 0;
}

.main-title {
    font-family: 'Bernard MT Condensed', sans-serif;
    font-size: 1.5em;
    color: #CC9900;
    margin: 5px 0;
}

.sub-title {
    font-family: 'Bernard MT Condensed', sans-serif;
    font-size: 1.2em;
    color: #CC9900;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #917C14;
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.button-group button {
    width: 48%;
    padding: 10px;
    background-color: #DBBDD7;
    color: #917C14;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #BE82B4;
    color: #fff;
}
