{% extends 'shared.html' %}
{% set page_head_title = 'home' %}
{% block page_head_css %}
<link rel="stylesheet" href="{{ url_for('home.static', filename='css/home.css') }}">
{% endblock %}
{% block page_body_main_content %}
    <header>

    </header>


    <main>
        <div class="about">
            <h1>Welcome to Our Bakery</h1>
            <p>We are a bakery that combines cakes designed in a luxurious and high style, allowing buyers to customize the flavors and composition of their cake without changing the price. This way, you can get a cake designed at the highest level, perfectly tailored to your taste palette.</p>
        </div>

        <div class="team">
            <h2>Meet Our Team</h2>
            <div class="ceo">
                <img src="{{ url_for('static', filename='pics/TheMuffinMan.jpeg') }}" alt="The Muffin Man">
                <p>The Muffin Man</p>
            </div>
            <div class="ceo">
                <img src="{{ url_for('static', filename='pics/TheCakesLady.jpeg') }}" alt="The Cake Lady">
                <p>The Cake Lady</p>
            </div>
        </div>
    </main>

    <div class="scroll-option">
        <button onclick="scrollToTop()">Scroll to Top</button>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const userFullName = document.getElementById('user-full-name');
            const signOutLink = document.getElementById('sign-out-link');
            const profileIcon = document.querySelector(`.left-icons a[href='{{ url_for("Profile.Profile_page") }}']`);
            const user = JSON.parse(localStorage.getItem('loggedInUser'));

            if (user) {
                userFullName.textContent = user.fullName;
                signOutLink.style.display = 'inline';
            } else {
                signOutLink.style.display = 'none';
            }

            signOutLink.addEventListener('click', () => {
                localStorage.removeItem('loggedInUser');
                window.location.href = '{{ url_for("Login.Login_page") }}';
            });

            profileIcon.addEventListener('click', (e) => {
                e.preventDefault();
                if (user) {
                    window.location.href = '{{ url_for("Profile.Profile_page") }}';
                } else {
                    window.location.href = '{{ url_for("Login.Login_page") }}';
                }
            });
        });
    </script>
    <script src="{{ url_for('static', filename='js/shared.js') }}"></script>
    <script src="{{ url_for('home.static', filename='js/home.js') }}"></script>
{% endblock %}
