{% extends 'shared.html' %}
{% set page_head_title = 'Cake Catalog' %}
{% block page_head_css %}
<link rel="stylesheet" href="{{ url_for('catalog.static', filename='css/Catalog.css') }}">
{% endblock %}
{% block page_body_main_content %}
<main>
    <h1>Cake Catalog</h1>
    <div id="cake-catalog" class="catalog"></div>
</main>

<div class="scroll-option">
    <button onclick="scrollToTop()">Scroll to Top</button>
</div>
{% endblock %}
{% block page_body_js %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const userFullName = document.getElementById('user-full-name');
        const signOutLink = document.getElementById('sign-out-link');
      const profileIcon = document.querySelector(`.left-icons a[href='{{ url_for("Profile.Profile_page") }}']`);
        const user = JSON.parse(localStorage.getItem('loggedInUser'));

        if (user) {
            userFullName.textContent = user.fullName;
            signOutLink.style.display = 'inline';
        } else {
            signOutLink.style.display = 'none';
        }

        signOutLink.addEventListener('click', () => {
            localStorage.removeItem('loggedInUser');
            window.location.href = '{{ url_for("Login.Login_page") }}';
        });

        profileIcon.addEventListener('click', (e) => {
            e.preventDefault();
            if (user) {
                window.location.href = '{{ url_for("Profile.Profile_page") }}';
            } else {
                window.location.href = '{{ url_for("Login.Login_page") }}';
            }
        });
    });
</script>
<script src="{{ url_for('static', filename='js/shared.js') }}"></script>
<script src="{{ url_for('catalog.static', filename='js/catalog.js') }}"></script>
{% endblock %}
