/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    background-color: #f8f8f8;*/
/*}*/

/*main {*/
/*    max-width: 800px;*/
/*    margin: 20px auto;*/
/*    padding: 50px 250px;*/
/*    background-color: #fff;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*    border-radius: 8px;*/
/*}*/

/*.about {*/
/*    text-align: center;*/
/*    margin-bottom: 40px;*/
/*    opacity: 0;*/
/*    animation: fadeIn 2s forwards;*/
/*}*/

/*.about h1 {*/
/*    font-size: 2em;*/
/*    font-family: 'Bernard MT Condensed', sans-serif;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.about p {*/
/*    font-size: 1.2em;*/
/*    color: #917C14;*/
/*}*/

/*.team {*/
/*    text-align: center;*/

/*}*/

/*.team h2 {*/
/*    font-size: 1.8em;*/
/*    margin-bottom: 20px;*/
/*    opacity: 0;*/
/*    animation: fadeIn 2s forwards 1s;*/
/*}*/

/*.ceo {*/
/*    display: inline-block;*/
/*    margin: 0 20px;*/
/*    text-align: center;*/
/*    opacity: 0;*/
/*    transform: translateY(30px);*/
/*    animation: slideIn 1s forwards 2s;*/
/*}*/

/*.ceo img {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    border-radius: 50%;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.ceo p {*/
/*    font-size: 1.2em;*/
/*    color: #666;*/
/*    margin-top: 10px;*/
/*}*/

/*@keyframes fadeIn {*/
/*    to {*/
/*        opacity: 1;*/
/*    }*/
/*}*/

/*@keyframes slideIn {*/
/*    to {*/
/*        opacity: 1;*/
/*        transform: translateY(0);*/
/*    }*/
/*}*/


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 50px 250px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.about {
    text-align: center;
    margin-bottom: 40px;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.about h1 {
    font-size: 2em;
    font-family: 'Bernard MT Condensed', sans-serif;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.2em;
    color: #917C14;
}

.team {
    text-align: center;
}

.team h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 2s forwards 1s;
}

.ceo {
    display: inline-block;
    margin: 0 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    animation: slideIn 1s forwards 2s;
}

.ceo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ceo p {
    font-size: 1.2em;
    color: #666;
    margin-top: 10px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
